
<h1>Bienvenue sur le créateur d'utilisateur !</h1>
</br>
<form action="/new_user" method="post">
  Ton username :
  <input type="text" name="username">
  </br>
  </br>
  Ta bio :
  <input type="text" name="bio">
  </br>
  </br>
  <input type="submit" name="Envoyer">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<a href="/"><---Retour à la page d'accueil</a>
